*{
    outline: 1px solid tomato-;
}

:root {
    --line-color: #dddddd;
    --black-color: #333333;
    --white-color: #ffffff;
}

.inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.default {
    padding: 120px 0 100px 0;
}

.default .tit {
    max-width: 1200px;
    margin: 0 auto 40px auto;
    padding: 0 16px;

}

.default .tit h2 {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    font-family: 'Noto Serif KR', serif;
}

.default .tit p {
    margin: 18px 0 0 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
}

#wrap {}

#header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    line-height: 100px;
}

#header .header_wrap {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--line-color);
}

#header .header_wrap ul {
    display: flex;
    gap: 40px;
}

#header .header_wrap ul li a {
    display: block;
    font-size: 18px;
    font-weight: 500;
}

#header .header_wrap ul li span {
    color: rgb(229, 48, 16);
}

#header .header_wrap .icon {
    display: block;
}

.main_visual .main_slide .itm {
    position: relative;
    height:820px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.main_visual .main_slide .itm01 {
    background: url(../images/main_slide01.jpg);
}

.main_visual .main_slide .itm02 {
    background: url(../images/main_slide02.jpg);
}

.main_visual .main_slide .itm03 {
    background: url(../images/main_slide03.jpg);
}

.main_visual .main_slide .itm04 {
    background: url(../images/main_slide04.jpg);
}


.main_visual .main_slide .itm .con {
    position: absolute;
    padding: 0 15px;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

.main_visual .main_slide .itm .con strong {
    display: block;
    margin: 0 0 24px 0;

    color: var(--white-color);
    font-size: 80px;
    font-weight: 800;
    text-align: left;
    font-family: serif;
}

.main_visual .main_slide .itm .con p {
    color: var(--white-color);
    font-size: 48px;
    font-weight: 300;
    line-height: 1.1; 
    margin: 0 0 16px 0;
}

.main_visual .main_slide .itm .con span {
    display: block;
    margin: 0 0 8px 0;
    color: var(--white-color);
    font-size: 22px;
    font-weight: 300;
}

.main_visual  .main_visual_slide_arrows {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 1920px;
    width: 100%;
}

.main_visual  .main_visual_slide_arrows button {
    position: absolute;
    background: transparent;
    border: none;
}

.main_visual  .main_visual_slide_arrows .icon {
font-size: 100px;
font-weight: 100;
color: var(--white-color);
opacity: 0.2;
transition: 0.5s;
}

.main_visual  .main_visual_slide_arrows:hover .icon {
    opacity: 1;
}

.main_visual  .main_visual_slide_arrows .left {
    top: 0;
    left: 0;
}

.main_visual  .main_visual_slide_arrows .right {
    top: 0;
    right: 0;
}

/* --------------------------main_content----------------------------------------- */

.main_content .new_item {
    display: flex;
    gap: 30px;
}

.main_content .new_item figure{

}

.main_content .new_item strong {
    display: block;
    margin: 16px 0 48px 0;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.main_content .buy ul {
    display: flex;
}

.main_content .buy ul li {

}
